SQLAlchemy==2.0.48
pandas==3.0.1
nltk==3.9.3
scikit-learn==1.8.0
category_encoders==2.9.0
catboost==1.2.10
seaborn==0.13.2
numpy==2.4.3
matplotlib==3.10.8
psycopg2-binary==2.9.11
fastapi==0.135.1
pydantic==2.12.5
loguru==0.7.3

